body {
    text-align: center;
    background: url('../images/background.png') center / cover no-repeat fixed; 
    font-family: 'Mina', cursive;
}

.panel {
    width: 500px;
    height: 10vh;
    margin: 10px auto;
    box-sizing: border-box;
    display: grid;
    grid-template: 100% / 35% 35% 15% 15%;
    font-size: 1.5em;
}

.life {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heart {
    height: 60px;
}

.timer {
    display: grid;
    grid-template: 100% / 20% 20% 20% 20% 20% ;
}

.minCount,
.dots,
.secCount {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.minCount {
    grid-area: 1 / 2 / 2 / 3;
}

.dots {
    grid-area: 1 / 3 / 2 / 4;
}

.secCount {
    grid-area: 1 / 4 / 2 / 5;
}

.restart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pause {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas {
    height: 80vh;
}
