/* ------------------------*/ /* ---------->>> GLOBAL CSS SPACE RESET <<<-----------*/ /* ------------------------*/
* {
    border: 0; margin: 0; padding: 0;
}

/* ------------------------*/ /* ---------->>> GLOBAL STYLES <<<-----------*/ /* ------------------------*/


/* ------------------------*/ /* ---------->>> HEADER <<<-----------*/ /* ------------------------*/


/* ------------------------*/ /* ---------->>> MAIN <<<-----------*/ /* ------------------------*/
.selfie {
    width: 20vw;
}

.placeholder {
    width: 20vw;
}

/* ------------------------*/ /* ---------->>> FOOTER <<<-----------*/ /* ------------------------*/


