
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Monda');

.card {
	box-sizing: border-box;
	border-radius: 2px;
	padding: 20px ;
	width: 340px;
	color: black;
	background: #272C34;
	animation: sky 20s cubic-bezier(.4,0,.49,1) infinite;
}

/* ----- ANIMAL IMAGE ----- */
.frame {
	box-sizing: border-box;
	margin: 10px auto 10px;
	width: 300px;
	height: 350px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: #272C34;
	overflow: hidden;
	animation: sky 20s cubic-bezier(.4,0,.49,1) infinite;
}

.branch {
	position: relative;
	left: 0px;
	top: 230px;
}

.tree {
	height: 20px;
	width: 300px;
	background-color: #4D2E06;
	background: linear-gradient(#4D2E06, #4D2E06, black);
}

.leaf {
	position: relative;
	border-radius: 100% 0;
	background-color: #339900;
	animation: leaf-darkens 20s cubic-bezier(.4,0,.49,1) infinite;
}

.leaf-big {
	height: 40px;
	width: 40px;
}

.leaf-small {
	height: 27px;
	width: 27px;
}

.leaf1 {
	top: -15px;
	left: 35px;
	transform: rotate(70deg);
}

.leaf2 {
	top: -90px;
	left: 235px;
	transform: rotate(20deg);
}

.leaf3 {
	top: -90px;
	left: 200px;
	transform: rotate(70deg);
}

.owl {
	position: relative;
	top: -190px;
	left: -10px;
}

.body {
	position: absolute;
	left: 80px;
	top: 170px;
	height: 130px;
	width: 140px;
	border-radius: 100%;
	background-color: sienna;
}

.head {
	position: absolute;
	left: 95px;
	top: 140px;
	height: 110px;
	width: 110px;
	border-radius: 100%;
	background-color: sienna;
}

.ear {
	position: absolute;
	top: 138px;
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 40px solid sienna; 
}

.ear-left {
	left: 95px;
	transform: rotate(-10deg);
}

.ear-right {
	left: 170px;
	transform: rotate(10deg);
}

.eyelid {
    position: absolute;
    top: 180px;
    width: 36px;
    height: 3px;
    background-color: #4A2D08;
    animation: blink 20s infinite;
}

.eyelid-left {
    left: 101px;
}

.eyelid-right {
    left: 163px;
}

.eye {
	position: absolute;
	top: 162px;
	height: 36px;
	width: 36px;
	border-radius: 100%;
	background: linear-gradient(yellow, yellow, white);
	box-shadow: 0 0 9px yellow;
}

.eye-left {
  	left: 109px;
}

.eye-right {
  	left: 155px;
}

.iris {
	position: absolute;
	top: 165px;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: black;
	box-shadow: 0 0 1px black;
}

.iris-left {
  	left: 112px;
}

.iris-right {
  	left: 158px;
}

.reflection {
	position: absolute;
	top: 165px;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	background-color: white;
	box-shadow: 0 0 2px white;
}

.reflection-left {
  	left: 116px;
}

.reflection-right {
  	left: 159px;
}


.open-eye {
  	animation: eye-open 20s infinite;  
}

.beak {
	position: absolute;
	top: 188px;
	left: 142px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 20px solid #4A2D08;
	border-radius: 50%;
	transform: rotate(180deg);
}

.wing {
	position: absolute;
	border-radius: 0 90%;
	background-color: #804124;
}

.wing-left {
	top: 213px;
	left: 59px;
	height: 52px;
	width: 80px;
	transform: rotate(52deg);
	box-shadow: 3px 0 2px #402012;
}

.wing-right {
	top: 200px;
	left: 175px;
	height: 80px;
	width: 52px;
	transform: rotate(38deg);
	box-shadow: 0 3px 2px #402012;
}

.spot {
	position: absolute;
	top: 215px;
	left: 142px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 12px solid rgba(198, 151, 129, 0.5);
	transform: rotate(180deg);
}

.spot-row1 {
  	top: 220px;
}

.spot-row2 {
  	top: 230px;
}

.spot-row3 {
  	top: 240px;
}

.spot-row4 {
  	top: 250px;
}

.spot-row5 {
  	top: 260px;
}

.spot1 {
  	left: 146px;
}

.spot2 {
  	left: 132px;
}

.spot3 {
  	left: 160px;
}

.spot4 {
  	left: 146px;
}

.spot5 {
  	left: 132px;
}

.spot6 {
  	left: 160px;
}

.spot7 {
  	left: 146px;
}

.fingers {
	position: absolute;
	top: 290px;
	height: 15px;
	width: 6px;
	border-radius: 40%;
	background-color: #e5b100;
	background: linear-gradient(#e5b100,  #4D2E06);
	box-shadow: 2px 5px 5px #402012;
}

.finger1 {
  	left: 125px;
}

.finger2 {
  	left: 134px;
}

.finger3 {
  	left: 160px;
}

.finger4 {
  	left: 169px;
}

.sun {
	position: relative;
	z-index: 3;
	top: 25px;
	left: 120px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #FFEF00;
	transform-origin: 40% 680%;
	animation: sun-moon 20s cubic-bezier(.4,0,.49,1) infinite;
}

.star {
    position: relative;
    z-index: 2;
    height: 3px;
    width: 3px;
    border-radius: 100%;
    background-color: #ffffcc;
    box-shadow: 0 0 5px white;
    animation: stars 20s cubic-bezier(.4,0,.49,1) infinite;
}

.star1 {
    top: 90px;
    left: 40px;
}

.star2 {
    top: 10px;
    left: 60px;
}

.star3 {
    top: 30px;
    left: 140px;
}

.star4 {
    top: 5px;
    left: 180px;
}

.star5 {
    top: 90px;
    left: 230px;
}

.star6 {
    top: 30px;
    left: 250px;
}

/* ----- ANIMATIONS ----- */

@keyframes sun-moon {
	0% {
		background: #F57209;
		transform: rotate(-70deg);
	}
	
	15% {
		background: #FFEF00;
		box-shadow: 0 0 15px #FFEF00;
		transform: rotate(-8deg);
		}
	
	30% {
		background: #FFEF00;
		box-shadow: 0 0 15px #FFEF00;
		}
	
	40% {
		background: #F57209;
	}
	
	50% {
		background: #F57209;
		transform: rotate(75deg);
		box-shadow: none;
	}
	
	51% {
		background: #6e9fef;
		transform: rotate(290deg);
		box-shadow: 0 0 15px white;
	}
	
	60% {
		background: #fffee8;
		transform: rotate(352deg);
		box-shadow: 0 0 15px white;
		}
	
	70% {
		background: #bde0e3;
		box-shadow: 0 0 15px white;
		}
	
	85% {
		background: #6e9fef;
	}
	
	100% {
		background: #6e9fef;
		transform: rotate(435deg);
	}
}

@keyframes sky {
	0% {
		background: #272C34;
	}

	20% {
		background: #7DDFFC;
	}
	
	30% {
		background: #7DDFFC;
	}

	50% {
		background: #612c2c;
	}
	
	58% {
		background: #272C34;
	}

	100% {
		background: #272C34;
	}
}

@keyframes stars {
	0% {
		background-color: #ffffcc;
		box-shadow: 0 0 5px white;
	}
	
	10% {
		background-color: transparent;
		box-shadow: none;
	}
	
	80% {
		background-color: #ffffcc;
		box-shadow: 0 0 5px white;
	}
}

@keyframes leaf-darkens {
	0% {
		background-color: #094004;
	}
		
	8% {
		background-color: #339900;
	}

	40% {
		background-color: #339900;
	}
		
	50% {
		background-color: #094004;
	}
		
	100% {
		background-color: #094004;
	}
}

@keyframes blink {
	0% {
		transform: none;
		opacity: 1;
		animation-timing-function: ease-in;
	}
	1% {
		transform: translateY(15px) scaleY(0)
	}
	2% {
		animation-timing-function: ease-out;
	}
	
	3% {
		transform: none;
		animation-timing-function: ease-in;
	}
	
	28% {
		transform: none;
		animation-timing-function: ease-in;
	}
	29% {
		transform: translateY(15px) scaleY(0)
	}
	30% {
		animation-timing-function: ease-out;
	}
	
	31% {
		transform: none;
		animation-timing-function: ease-in;
	}
	
	50% {
		transform: none;
		animation-timing-function: ease-in;
	}
	51% {
		opacity: 1;
		transform: translateY(15px) scaleY(0);
	}
	
	51.5% {
		opacity: 0;
		transform: none;
	}
	
	53% {
		opacity: 0;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes eye-open {
	0% {
		opacity: 0;
	}
	
	51% {
		opacity: 0;
	}
  
  	52% {
    	opacity: 1;
  	}
  
  	100% {
    	opacity: 1;
  	}
}

/* ----- GENERAL STYLES ----- */

.border {
	border: 2px solid #4d2e06;
	border-radius: 2px;
}

.text-background {
	background-color: rgba(255, 255, 255, 0.5);
}

.shadow {
	box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
}

/* ----- CARD STYLES ----- */

.title {
	font-family: "Julius Sans One", sans-serif;
	text-align: center;
	font-size: 300%;
	margin: 0 auto;
	padding: 5px;
}

.text-container {
	font-family: Monda, sans-serif;
	text-align: justify;
	padding: 15px;
}

.interesting-fact {
	margin-top: 0;
	font-style: italic;
}

.list {
	list-style-type: none;
	margin: auto 0;
	padding: 0;
}

.label {
	font-weight: bold;
}
