@import "css-reset.scss";  


body {
    background-image: url('../images/background.jpg');
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    background-color: white;
    max-width: 90vw;
    padding: 10px;
    box-shadow: 0 0 20px rgb(141, 106, 54);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 95vh;
    margin-top: 20px;
}

.title {
    font-family: Cutive, serif;
    font-size: 2em;
    margin: 20px 40px 40px;
}

.kittyContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2em;
    margin: 20px;
    padding: 5%;
    border: 1px solid black;
}

.instruction,
.click-count {
    margin: 20px;
}

.cat {
    width: 50vw;
    min-width: 210px;
    max-width: 400px;
    margin-bottom: 20px;
    transition: all 0.4s;
    cursor: pointer;
}

.cat:hover {
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.7));
    transform: scale(1.005);
    transition: none;
}

.cat:active {
    transform: scale(0.995);
    filter: none;
    transition: none;
}

@import 'menu.scss';
@import "media.scss";