@media screen and (min-width: 700px) {
    .title {
        margin-bottom: 20px;
    }
    
	.container {
        padding: 20px;
    }

    .cat-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 80vw;
        margin: 0;
    }

	.kittyContainer {
        padding: 2%;
    }

    .cat {
        min-width: 200px;
        margin: 0 20px 20px;
    }
}