.menu {
    margin: 0 20px;
}

.menu-btn {
    background-color: bisque;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cat-select {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2em;
    margin: 0 20px;
    width: 140px;
}

.drop-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
}

.cat-list {
    text-align: left;
    max-height: 140px;
    background-color: bisque;
    padding: 5px 20px;
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2em;
}

.cat-list-element {
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.drop-btn:hover,
.cat-list-element:hover,
.cat-list-element:active {
    background-color: rgb(221, 177, 122);
}

.cat-list-visible {
    display: block;
}