.admin {
    margin: 20px;
    height: 100%;
}

.admin-container {
    margin: 20px;
}

.admin-form {
    margin: 20px;

}

.admin-input {
    margin-left: 10px;
}

.submit-btn {
    margin: 20px;
}

.form-span {
    display: flex;
    justify-content: space-between;
}