@import "css-reset.scss";  

body {
    background-image: url('../images/background.jpg');
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-card {
    background-color: white;
    box-shadow: 0 0 20px rgb(141, 106, 54);
}

.container {
    max-width: 500px;
    min-width: 280px;
    margin: 20px;
}

.cat-container {
    padding: 20px;
}

.title {
    font-family: Cutive, serif;
    font-size: 2em;
    margin: 5% auto 20px;
    width: 80%;
    max-width: 500px;
    padding: 20px;
}

.kittyContainer {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2em;
    border: 1px solid black;
    padding: 20px;
}

.instruction,
.counter {
    
}

.cat {
    transition: all 0.4s;
    cursor: pointer;
    object-fit: contain;
    width: 100%;
    margin: 20px auto;
}

.cat:hover {
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.7));
    transform: scale(1.005);
    transition: none;
}

.cat:active {
    transform: scale(0.995);
    filter: none;
    transition: none;
}

.hidden {
    display: none;
}

.not-visible {
    visibility: hidden;
}

@import 'menu.scss';
@import "media.scss";
@import "admin.scss";