@media screen and (min-width: 900px) {
    main {
        display: grid;
        grid-template: 1fr / 25% 50% 25%;
        align-items: initial;
    }

    .menu {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: initial;
    }

    .menu-header {
        display: none;
    }

    .cat-list {
        position: initial;
        overflow: initial;
        overflow-x: initial;
        max-height: initial;
        display: block;
        width: 180px;
    }

    .container {
        margin: 20px auto;
    }

    .admin-btn {
        margin: 0;
        margin-bottom: 20px;
    }
}