@media screen and (min-width: 700px) {
    body {
        flex-direction: row;
        align-items: initial;
    }

    .menu {
        margin: 20px;
    }

    .drop-btn {
        display: none;
    }

    .cat-list {
        display: block;
        max-height: initial;
        overflow: initial;
    }

    .container {
        padding: 20px;
        max-width: 50vw;
    }

    .cat-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 80vw;
        margin: 0;
    }

    .cat {
        min-width: 200px;
        margin: 0 20px 20px;
    }
}