@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template: 1fr / 25% 50% 25%;
        width: 100%;
    }

    .menu {
        margin: 20px;
        width: 180px;
    }

    .menu-btn {
        display: none;
    }

    .cat-list {
        display: block;
        max-height: initial;
        overflow: initial;
    }

    .container {
        max-width: 50vw;
    }

    .cat-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 80vw;
        margin: 0;
        border: 1px solid black;
    }

    .kittyContainer {
        border: none;
    }

    .cat {
        min-width: 200px;
        margin: 0 20px 20px;
    }

    .admin {
        text-align: left;
    }
}