$tumbleweed: #ddb17a;

.menu {
    width: 280px;
}

.menu-header {
    background-color: bisque;
    display: grid;
    grid-template: 1fr / 60px 1fr 60px;
    height: 60px;
}

.cat-select {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2em;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cat-list {
    position: absolute;
    z-index: 10;
    display: none;
    text-align: left;
    box-sizing: border-box;
    background-color: bisque;
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2em;
    overflow: scroll;
    overflow-x: hidden;
    width: 280px;
    max-height: 150px;
}

.cat-list::-webkit-scrollbar {
    width: 0.2em;
}
 
.cat-list::-webkit-scrollbar-track {
    border: 1px solid $tumbleweed;
}
 
.cat-list::-webkit-scrollbar-thumb {
  background-color: $tumbleweed;
}

.cat-list-element {
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.selected-cat,
.drop-btn:hover,
.cat-list-element:hover,
.cat-list-element:active {
    background-color: $tumbleweed;
}

.cat-list-visible {
    display: block;
}