@media only screen and (max-width: 1024px) {
    #lets-connect {
      margin-top: 5%;
    }
}
  
@media only screen and (max-width:900px) {
    .biopic {
      width: 175px;
    }
}
  
@media only screen and (max-width: 750px) {
    #lets-connect {
      margin-top: 10%;
    }
    .biopic {
      width: 150px;
    }
    .welcome-message {
      display: none;
    }
}
  
@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
      display: block;
    }
}